<p-card
  [header]="'Step 1: Choose the Source' | titlecase"
  [subheader]="'Please select the following' | titlecase"
>
  <div class="choose-source-layout">
    <div class="options">
      <p-radioButton
        name="selected-source"
        value="system"
        [(ngModel)]="selectedSource"
        inputId="rb1"
      ></p-radioButton>
      <label for="rb1">
        <img class="icon" src="assets/folder.png" alt="" />
        Select Folder
      </label>

      <p-radioButton
        name="selected-source"
        value="github"
        [(ngModel)]="selectedSource"
        inputId="rb2"
      ></p-radioButton>
      <label for="rb2">
        <img class="icon" src="assets/github.png" alt="" />
        Github
      </label>

      <p-radioButton
        name="selected-source"
        value="servers"
        [(ngModel)]="selectedSource"
        inputId="rb3"
      ></p-radioButton>
      <label for="rb3">
        <img src="assets/servers.png" alt="" />
        Server Path
      </label>

      <p-radioButton
        name="selected-source"
        value="code"
        [(ngModel)]="selectedSource"
        inputId="rb4"
      ></p-radioButton>
      <label for="rb4">
        <img src="assets/code.png" alt="" />
        Text
      </label>
    </div>
    @if(selectedSource === 'system') {
    <ng-container [formGroup]="sourceFromGroup">
      <div
        class="drop-zone"
        (dragover)="onDragOver($event)"
        (drop)="onDrop($event)"
      >
        <input
          type="file"
          formControlName="path"
          (change)="onFolderSelect($event)"
          webkitdirectory
          directory
          multiple
        />
        <p>Drag & drop files here</p>
      </div>
    </ng-container>
    }
  </div>
</p-card>
