<p-card
  [header]="'Step 1: Choose the Source' | titlecase"
  [subheader]="'Please select the following' | titlecase"
>
  <div class="choose-source-layout">
    <div class="btn-holder">
      <div class="btn-box" [class.active]="selectedSource === 'system'">
        <p-radioButton
          name="selected-source"
          value="system"
          [(ngModel)]="selectedSource"
          inputId="rb1"
          class="dummyInput"
        ></p-radioButton>
        <label for="rb1">
          <img class="icon" src="assets/folder.png" alt="" />
          Select Folder
        </label>
      </div>
      <div class="btn-box" [class.active]="selectedSource === 'github'">
        <p-radioButton
          name="selected-source"
          value="github"
          [(ngModel)]="selectedSource"
          inputId="rb2"
          class="dummyInput"
        ></p-radioButton>
        <label for="rb2">
          <img class="icon" src="assets/github.png" alt="" />
          Github
        </label>
      </div>
      <div class="btn-box" [class.active]="selectedSource === 'servers'">
        <p-radioButton
          name="selected-source"
          value="servers"
          [(ngModel)]="selectedSource"
          inputId="rb3"
          class="dummyInput"
        ></p-radioButton>
        <label for="rb3">
          <img src="assets/servers.png" alt="" />
          Server Path
        </label>
      </div>
      <div class="btn-box" [class.active]="selectedSource === 'code'">
        <p-radioButton
          name="selected-source"
          value="code"
          [(ngModel)]="selectedSource"
          inputId="rb4"
          class="dummyInput"
        ></p-radioButton>
        <label for="rb4">
          <img src="assets/code.png" alt="" />
          Text
        </label>
      </div>
    </div>
    @if(selectedSource === 'system') {
    <ng-container [formGroup]="sourceFromGroup">
      <div
        class="drop-zone"
        (dragover)="onDragOver($event)"
        (drop)="onDrop($event)"
      >
        <input
          id="file"
          type="file"
          formControlName="path"
          (change)="onFolderSelect($event)"
          multiple
          class="dummyInput"
        />
        <label for="file" class="file-holder">
          <span class="upload-icon">
            <i class="pi pi-folder"></i>
          </span>
          <h3 class="dynamic-message">Drag &amp; drop any file here</h3>
          <span class="or">&amp;</span>
          <span class="browse-files-text"
            ><span> Browse File </span> from device</span
          >
        </label>
      </div>
    </ng-container>

    @if (selectedFiles.length) {
    <div class="selected-files">
      @for(file of selectedFiles; track $index) {
      <div class="file-item">
        <i class="pi pi-file file-icon"></i>
        <span class="file-name">{{ file.name }}</span>
        <i class="pi pi-times remove-icon" (click)="removeFile(1)"></i>
      </div>
      }
    </div>
    } }
  </div>
</p-card>
