<div class="stepper">
  <p-steps
    [model]="steps"
    [readonly]="false"
    [activeIndex]="activeIndex"
    [exact]="true"
    (activeIndexChange)="onActiveIndexChange($event)"
  ></p-steps>
  <p-divider type="solid"></p-divider>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    @switch(activeIndex){
      @case (0) {<app-choose-source [form]="form"></app-choose-source> }
      @case (1) {<app-select-language [form]="form"></app-select-language> }
      @case (2) {<app-choose-result [form]="form"></app-choose-result> }
      @default{<app-choose-source [form]="form"></app-choose-source>}
    }
  </form>
  <ng-container>
    <div class="button-container">
      <p-button label="Back" [disabled]="activeIndex === 0" (onClick)="onBack()"></p-button>
      <p-button label="Next" [disabled]="activeIndex === 2" (onClick)="onNext()"></p-button>
    </div>
  </ng-container>
</div>
