.stepper {
  margin-top: 10px;
  display: grid;
  grid-template-areas:
    "stepper-header"
    "stepper-body";
  gap: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}
