// $breakpoints: (
// 	'xs-phone': 320px,
// 	'phone': 576px,
// 	'tablet': 768px,
// 	'desktop': 1024px,
// 	'widescreen': 1200px,
// 	'widescreen-lg': 1600px,
// 	'xlg': 1800px,
// );

// // keywords
// $media-expressions: (
// 	'screen': 'screen',
// 	'print': 'print',
// 	'handheld': 'handheld',
// 	'landscape': '(orientation: landscape)',
// 	'portrait': '(orientation: portrait)',
// 	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
// 	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
// );

// ligatured operators ≥ ≤

// @import 'vendors/include-media';
// @import 'vendors/normalize';

// @import 'base/functions';
// @import 'base/variables';
// @import 'base/mixins';
// @import 'base/helpers';
// @import 'base/reset';
// @import 'base/typography';
// @import 'base/forms';
// @import 'base/icons.scss';

// @import 'layout/header';
// @import 'layout/common';
// @import 'layout/footer';

.resize-active *{
	transition: none !important;
}

body {
	// min-width: $base-min-width;
	// font-family: $base-font-sans-serif;
}

a {
	// @include animate(background color opacity border);
	text-decoration: none;

	&:hover {
		outline: none;
		text-decoration: none;
	}
}

img {
	display: block;
	height: auto;
	width: 100%;
}

.container {
	max-width: 1464px;
	margin: 0 auto;
	padding: 0 15px;
}

#wrapper {
	width: 100%;
	overflow: hidden;
	position: relative;
}

#main,
.main {
	position: relative;
}
.page-holder {
	display: flex;
	//background: url("/images/SignIn.svg") no-repeat;
	//background-size: 100% auto;
	background: #F8F9FA;
	.page-sidebar {
		flex-basis: 300px;
		padding: 50px 20px;
		background:#eff2f6;
		//background:#eff2f6 url("/images/Group01.svg") no-repeat 50% 50%;
		background-size: auto 100%;
	}
	.page-mainHolder {
		background: url("/images/Group01.svg") no-repeat 50% 50%;
		background-size: 100% auto;
		flex: 1;
		min-height: 93vh;
		padding: 50px;

	}
}
.welcome-text {
	background: url("/images/NeedHelp.svg") no-repeat;
	background-size: 100% auto;
	color: #fff;
	max-width: 80%;
	padding: 40px;
	border-radius: 15px;
	overflow: hidden;
	margin-bottom: 40px;
}

.option_section{
	background: #fff;
	padding: 40px;
	border-radius: 15px;
	height: 100%;
	.btn-holder {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		button {
			padding: 10px 20px;
			border-radius: 10px;
			min-width: 220px;
			margin: 10px;
			background: #fff;
			border: 2px solid #4FD1C5;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			img {
				max-width: 60px;
				padding-right: 15px;
			}
			&:hover {
				background: #4FD1C5;
			}
		}
	}
}
.choose_results,
.language_section {
	background: #fff;
	padding: 40px;
	border-radius: 15px;
	height: 100%;
	margin: 0 -1rem;
	.btn-holder {
		display: flex;
		flex-wrap: wrap;
	}
	/* Hide inputs */
	input {
		position: absolute;
		opacity: 0;
		z-index: -1;
	}
	/* Styles */
	label {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-left: 1rem;
		padding: 0.8rem;
		position: relative;
		cursor: pointer;
		transition: all 0.25s cubic-bezier(0.25, 0.25, 0.5, 1.9);
		z-index: 1;
		width: 150px;
		&::before {
			content: "";
			position: absolute;
			left: 0;
			width: 1.5rem;
			height: 1.5rem;
			background: transparent;
			border: 2px solid transparent;
			border-radius: 50%;
			z-index: -1;
			transition: all 0.25s;
			input[type="radio"] + & {
				border-radius: 50%;
			}
		}
		img {
			max-width: 30px;
			margin-right: 15px;
		}
		&:hover {
			color: #4FD1C5;
		}
	}
	/* Checked */
	input:checked + label {
		padding-left: 1rem;
		color: #111;
		&::before {
			width: 100%;
			height: 100%;
			background: #4FD1C5;
			border: 0;
			box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
			border-radius: 15px;
		}
	}

}
.choose_results {
	margin: 0;
	label {
		width: 250px;
		padding: 0.7rem;
		line-height: 1.2;
	}
	input:checked + label {
		padding-left: 1rem;
		color: #111;
		&::before {
			width: 100%;
			height: 100%;
			background: #4FD1C5;
			border: 0;
			box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
			border-radius: 15px;
		}
	}
}


