@font-face {
	@include fontface(icomoon, icomoon, 400, normal);
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-right-arrow:before {
  content: "\e91a";
}
.icon-down-arrow:before {
  content: "\e91b";
}
.icon-clock:before {
  content: "\e900";
}
.icon-Clouds:before {
  content: "\e901";
}
.icon-excellence:before {
  content: "\e902";
}
.icon-experiences:before {
  content: "\e903";
}
.icon-expertise:before {
  content: "\e904";
}
.icon-facebook:before {
  content: "\e905";
}
.icon-hme:before {
  content: "\e906";
}
.icon-home:before {
  content: "\e907";
}
.icon-International-Litigation:before {
  content: "\e908";
}
.icon-linkedin:before {
  content: "\e909";
}
.icon-Location:before {
  content: "\e90a";
}
.icon-Message:before {
  content: "\e90b";
}
.icon-office:before {
  content: "\e90c";
}
.icon-practice:before {
  content: "\e90d";
}
.icon-sun:before {
  content: "\e90e";
}
.icon-team:before {
  content: "\e90f";
}
.icon-teamwork:before {
  content: "\e910";
}
.icon-twitter:before {
  content: "\e911";
}
.icon-about:before {
  content: "\e912";
}
.icon-agility:before {
  content: "\e913";
}
.icon-arrow-right:before {
  content: "\e914";
}
.icon-arrow-top-right:before {
  content: "\e915";
}
.icon-Call:before {
  content: "\e916";
}
.icon-chivron-right:before {
  content: "\e917";
}